

.post-title{
  font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Rambla', sans-serif;
font-family: 'Roboto', sans-serif;
}

.roboto{
font-family: 'Roboto', sans-serif;
}

.para{
font-family: 'Nunito', sans-serif;
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Roboto', sans-serif;
font-size: 1.4rem;
}

.para-post{
font-family: 'Nunito', sans-serif;
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Roboto', sans-serif;
}